In [83]:
import pandas as pd

In [84]:
spy_data = "Resources/SPY_Data.xlsx"
msft_data = "Resources/MSFT.csv"

In [117]:
spy_data_df = pd.read_excel(spy_data)
msft_data_df = pd.read_csv(msft_data)

SyntaxError: invalid syntax (3828271058.py, line 1)

In [86]:
spy_data_df

,Date,Open,High,Low,Close,Adj Close,Volume,Gain Next Day
0,2021-02-25,390.410004,391.880005,380.779999,382.329987,377.300629,146670500,0.528344
1,2021-02-26,384.350006,385.579987,378.230011,380.359985,375.356537,152701600,1.375016
2,2021-03-01,385.589996,390.920013,380.570007,389.579987,384.455261,105348800,0.061610
3,2021-03-02,389.820007,390.070007,386.000000,386.540009,381.455261,79595300,-0.194029
4,2021-03-03,385.790009,386.829987,381.309998,381.420013,376.402618,119940200,-0.052439
...,...,...,...,...,...,...,...,...
248,2022-02-17,443.220001,446.570007,436.420013,437.059998,437.059998,102259100,0.061774
249,2022-02-18,437.329987,438.660004,431.820007,434.230011,434.230011,132454300,-0.538884
250,2022-02-22,431.890015,435.500000,425.859985,429.570007,429.570007,124391800,0.719323
251,2022-02-23,432.660004,433.260010,421.350006,421.950012,421.950012,132578000,-2.590360
252,2022-02-24,411.019989,428.760010,410.640015,428.299988,428.299988,213570500,-100.000000

In [120]:
bins = [0, 50000000, 65000000, 80000000, 105000000, 140000000, 175000000, 250000000]

group_labels = ["< 50 mil", "50 - 65", "65 - 80", "80 - 105", "105 - 140", "140 - 175", "175 - 250"]

spy_data_df["Range"] = pd.cut(spy_data_df["Volume"], bins, labels=group_labels)

spy_data_df["%Gain"] = (spy_data_df["Close"] - spy_data_df["Open"]) / spy_data_df["Open"] *100

spy_data_df["Range of the day"] = spy_data_df["High"] - spy_data_df["Low"]

spy_data_df = spy_data_df.dropna()

spy_data_df

,Date,Open,High,Low,Close,Adj Close,Volume,Gain Next Day,Range,%Gain,Range of the day
0,2021-02-25,390.410004,391.880005,380.779999,382.329987,377.300629,146670500,0.528344,140 - 175,-2.069623,11.100006
1,2021-02-26,384.350006,385.579987,378.230011,380.359985,375.356537,152701600,1.375016,140 - 175,-1.038122,7.349976
2,2021-03-01,385.589996,390.920013,380.570007,389.579987,384.455261,105348800,0.061610,105 - 140,1.034776,10.350006
3,2021-03-02,389.820007,390.070007,386.000000,386.540009,381.455261,79595300,-0.194029,65 - 80,-0.841413,4.070007
4,2021-03-03,385.790009,386.829987,381.309998,381.420013,376.402618,119940200,-0.052439,105 - 140,-1.132740,5.519989
...,...,...,...,...,...,...,...,...,...,...,...
248,2022-02-17,443.220001,446.570007,436.420013,437.059998,437.059998,102259100,0.061774,80 - 105,-1.389830,10.149994
249,2022-02-18,437.329987,438.660004,431.820007,434.230011,434.230011,132454300,-0.538884,105 - 140,-0.708841,6.839997
250,2022-02-22,431.890015,435.500000,425.859985,429.570007,429.570007,124391800,0.719323,105 - 140,-0.537176,9.640015
251,2022-02-23,432.660004,433.260010,421.350006,421.950012,421.950012,132578000,-2.590360,105 - 140,-2.475383,11.910004
252,2022-02-24,411.019989,428.760010,410.640015,428.299988,428.299988,213570500,-100.000000,175 - 250,4.204175,18.119995

In [126]:
spy_data_df.drop(spy_data_df.index[-1])

,Date,Open,High,Low,Close,Adj Close,Volume,Gain Next Day,Range,%Gain,Range of the day
0,2021-02-25,390.410004,391.880005,380.779999,382.329987,377.300629,146670500,0.528344,140 - 175,-2.069623,11.100006
1,2021-02-26,384.350006,385.579987,378.230011,380.359985,375.356537,152701600,1.375016,140 - 175,-1.038122,7.349976
2,2021-03-01,385.589996,390.920013,380.570007,389.579987,384.455261,105348800,0.061610,105 - 140,1.034776,10.350006
3,2021-03-02,389.820007,390.070007,386.000000,386.540009,381.455261,79595300,-0.194029,65 - 80,-0.841413,4.070007
4,2021-03-03,385.790009,386.829987,381.309998,381.420013,376.402618,119940200,-0.052439,105 - 140,-1.132740,5.519989
...,...,...,...,...,...,...,...,...,...,...,...
247,2022-02-16,443.929993,448.059998,441.940002,446.600006,446.600006,84863600,-0.756830,80 - 105,0.601449,6.119996
248,2022-02-17,443.220001,446.570007,436.420013,437.059998,437.059998,102259100,0.061774,80 - 105,-1.389830,10.149994
249,2022-02-18,437.329987,438.660004,431.820007,434.230011,434.230011,132454300,-0.538884,105 - 140,-0.708841,6.839997
250,2022-02-22,431.890015,435.500000,425.859985,429.570007,429.570007,124391800,0.719323,105 - 140,-0.537176,9.640015
251,2022-02-23,432.660004,433.260010,421.350006,421.950012,421.950012,132578000,-2.590360,105 - 140,-2.475383,11.910004

In [88]:
volume_data = spy_data_df.groupby("Range")

volume_data["Volume"].describe()

,count,mean,std,min,25%,50%,75%,max
Range,,,,,,,,
< 50 mil,37.0,4.478322e+07,4.030966e+06,34848500.0,42358500.0,46732200.0,47878500.0,49571600.0
50 - 65,66.0,5.685545e+07,4.120396e+06,50405200.0,52973375.0,56758150.0,59682700.0,64827900.0
65 - 80,49.0,7.254722e+07,4.093681e+06,65129200.0,69429700.0,72822000.0,76238600.0,79595300.0
80 - 105,42.0,9.105726e+07,6.861905e+06,80386100.0,85180350.0,90818150.0,97503125.0,104538900.0
105 - 140,41.0,1.192904e+08,8.852114e+06,105348800.0,113032200.0,118024400.0,124391800.0,137167700.0
140 - 175,13.0,1.524875e+08,8.946250e+06,140103700.0,147987000.0,152039600.0,153064100.0,167997300.0
175 - 250,4.0,1.964164e+08,1.411403e+07,183433000.0,185651575.0,194331150.0,205096025.0,213570500.0

In [89]:
volume_data = spy_data_df.groupby("Range")

volume_data["%Gain"].describe()

,count,mean,std,min,25%,50%,75%,max
Range,,,,,,,,
< 50 mil,37.0,0.069942,0.222895,-0.361548,-0.074580,0.047750,0.279400,0.455957
50 - 65,66.0,0.111000,0.425751,-0.928328,-0.205411,0.104627,0.456607,1.101557
65 - 80,49.0,0.146704,0.570310,-1.071080,-0.292141,0.108119,0.700037,1.108113
80 - 105,42.0,-0.066782,0.765224,-1.840053,-0.609569,0.006541,0.576055,1.263861
105 - 140,41.0,-0.218462,1.027874,-2.475383,-0.964632,-0.204588,0.526494,1.549349
140 - 175,13.0,-0.410282,1.405592,-2.069623,-1.577903,-0.447554,0.325591,2.142465
175 - 250,4.0,-0.087043,2.870453,-1.701227,-1.674398,-1.425560,0.161796,4.204175

In [90]:
volume_data = spy_data_df.groupby("Range")

volume_data["Gain Next Day"].describe()

,count,mean,std,min,25%,50%,75%,max
Range,,,,,,,,
< 50 mil,37.0,0.039633,0.254428,-0.621806,-0.081662,0.037625,0.234967,0.541886
50 - 65,66.0,0.055662,0.404833,-1.512442,-0.030543,0.101926,0.285249,0.699572
65 - 80,49.0,0.020389,0.370848,-1.193952,-0.173207,0.101309,0.249720,0.896180
80 - 105,42.0,-0.129682,0.605198,-1.355076,-0.636855,-0.111556,0.357240,1.224960
105 - 140,41.0,0.064766,0.770639,-2.590360,-0.285554,0.315623,0.562973,1.111185
140 - 175,13.0,0.488951,0.555836,-0.160657,0.167069,0.333921,0.573678,1.438534
175 - 250,4.0,-24.808586,50.140623,-100.000000,-26.018884,-0.180188,1.030111,1.126034

In [91]:
volume_data = spy_data_df.groupby("Range")

volume_data["Range of the day"].describe()

,count,mean,std,min,25%,50%,75%,max
Range,,,,,,,,
< 50 mil,37.0,1.977564,0.620008,0.869995,1.559997,1.940002,2.389984,3.509979
50 - 65,66.0,2.953788,1.013150,1.410003,2.040001,2.999984,3.657517,5.299988
65 - 80,49.0,4.206940,1.196938,2.169983,3.479981,4.100006,4.970002,7.800018
80 - 105,42.0,5.254049,1.950481,2.179993,4.230019,4.929992,6.002479,10.230011
105 - 140,41.0,7.115608,2.762343,2.690002,5.209991,6.679992,8.760009,14.380004
140 - 175,13.0,10.536149,2.170124,7.349976,8.730011,10.509979,12.139984,14.179993
175 - 250,4.0,13.882500,3.510851,10.109986,11.617493,13.650010,15.915017,18.119995

In [92]:
high_volume_data = spy_data_df.loc[spy_data_df["Range"] == "175 - 250",:]

high_volume_data

,Date,Open,High,Low,Close,Adj Close,Volume,Gain Next Day,Range,%Gain,Range of the day
5,2021-03-04,381.220001,384.000000,371.880005,376.700012,371.744720,183433000,0.998136,175 - 250,-1.185664,12.119995
229,2022-01-21,445.559998,448.059998,437.950012,437.980011,437.980011,202271200,-1.358512,175 - 250,-1.701227,10.109986
232,2022-01-26,440.720001,444.040009,428.859985,433.380005,433.380005,186391100,1.126034,175 - 250,-1.665456,15.180024
252,2022-02-24,411.019989,428.760010,410.640015,428.299988,428.299988,213570500,-100.000000,175 - 250,4.204175,18.119995